<div class="container">
  <ol>
    <% @posts.each do |post| %>
      <li><a href="/post/find/<%= post.id %>"><%= post.title %></a></li>
    <% end %>
  </ol>
</div>

<div class="create post">
  <li><a href="/post/create/new">Create a new post</a></li>
</div>
